{% extends 'base.html' %}

{% load static %}
{% block title %} فريق العمل{% endblock %}
{% block meta_description %} عياده دنتست افضل عياده اسنان فى الشرق الاوسط {% endblock %}

{% block content %}




 <!-- Start Doctors -->
        <section
            class="services py-5"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-offset="150"
        >
            <div class="container">
                <h3 class="main-hidd"> فريق العمل </h3>
                <div class="row gap-row">
                    <div class="col-lg-6">
                        <div class="box">
                            <img src="{% static './images/d1.png' %}" alt="" />
                            <div class="text">
                                <h4>دكتور محمد احمد</h4>
                                <p>
                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم
                                    إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر
                                    إدخال بعض النوادر أو الكلمات العشوائية إلى ا
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <img src="{% static './images/d9.png' %}" alt="" />
                            <div class="text">
                                <h4>دكتورة أميرة مصطفى</h4>
                                <p>
                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم
                                    إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر
                                    إدخال بعض النوادر أو الكلمات العشوائية إلى ا
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <img src="{% static './images/d3.png' %}" alt="" />
                            <div class="text">
                                <h4>دكتور مصطفى محمد</h4>
                                <p>
                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم
                                    إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر
                                    إدخال بعض النوادر أو الكلمات العشوائية إلى ا
                                </p>
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <img src="{% static './images/d4.png' %}" alt="" />
                            <div class="text">
                                <h4>دكتور محمود احمد</h4>
                                <p>
                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم
                                    إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر
                                    إدخال بعض النوادر أو الكلمات العشوائية إلى ا
                                </p>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <img src="{% static './images/d5.png' %}" alt="" />
                            <div class="text">
                                <h4>دكتور محمد محمد</h4>
                                <p>
                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم
                                    إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر
                                    إدخال بعض النوادر أو الكلمات العشوائية إلى ا
                                </p>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <img src="{% static './images/d6.png' %}" alt="" />
                            <div class="text">
                                <h4>دكتور على احمد</h4>
                                <p>
                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم
                                    إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر
                                    إدخال بعض النوادر أو الكلمات العشوائية إلى ا
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <img src="{% static './images/d7.png' %}" alt="" />
                            <div class="text">
                                <h4>دكتورة أمنية احمد</h4>
                                <p>
                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم
                                    إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر
                                    إدخال بعض النوادر أو الكلمات العشوائية إلى ا
                                </p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="box">
                            <img src="{% static './images/d8.png' %}" alt="" />
                            <div class="text">
                                <h4>دكتورة دعاء مصطفى</h4>
                                <p>
                                    هنالك العديد من الأنواع المتوفرة لنصوص لوريم
                                    إيبسوم، ولكن الغالبية تم تعديلها بشكل ما عبر
                                    إدخال بعض النوادر أو الكلمات العشوائية إلى ا
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </section>
        <!-- End Doctors -->

    {% endblock %}