{% extends 'base.html' %}

{% load static %}

{% block content %}

        <!-- Start Section num-teeth -->
        <section class="num-teeth position-relative top-0 start-0">
            <svg
                class="position-absolute left-0 start-0"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 1440 320"
            >
                <path
                    fill="#0E54AE"
                    fill-opacity="1"
                    d="M0,32L1440,128L1440,0L0,0Z"
                ></path>
            </svg>
            <div class="bg-svg position-absolute w-100 h-100">
                <img
                    src="{% static './images/undraw_healthy_lifestyle_re_ifwg.svg' %}"
                    alt=""
                />
            </div>
            <div class="container">
                <div class="content position-relative">
                    <img class="w-100" src="{% static './images/num.png' %}" alt="" />
                    <form
                        class="position-absolute top-0 start-0 w-100 h-100"
                        action=""
                    >
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="1"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="2"
                        />

                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="3"
                        />

                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="4"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="5"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="6"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="7"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="8"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="9"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="10"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="11"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="12"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="13"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="14"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="15"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="16"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="17"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="18"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="19"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="20"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="21"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="22"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="23"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="24"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="25"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="26"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="27"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="28"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="29"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="30"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="31"
                        />
                        <input
                            type="checkbox"
                            name="num-teeth"
                            id=""
                            value="32"
                        />
                    </form>
                </div>
            </div>
        </section>
        <!-- End Section num-teeth -->
        
    {% endblock %}